*{
    margin: 0;
    padding: 0;
  }

.App {
    text-align: center;
    background: url('/src/bg.jpg') repeat;
    background-size: contain;
    height: 100vh;
}

.gameArea {
    display: grid;
    background: url('/src/bg.jpg') repeat;
    background-size: contain;
    height: 100vh;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "btn label"
    "game game";
}

.menuBtn {
    grid-area: btn;
    align-items: end;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.themeLabel {
    grid-area: label;
    margin-top: 50px;
    text-align: center;
    margin-left: 550px;
    width: max-content;
}

.game{
    grid-area: game;
}